<div class="container">
  <h1>Bill Information</h1>


<table class="table table-bordered">
  <tr>
    <th></th>
    <th>Regular customer</th>
    <th>Premium customer</th>
  </tr>
  <tr>
    <td>Monthly fee</td>
    <td>20.00 EUR</td>
    <td>0.00 EUR</td>
  </tr>
  <tr>
    <td>Parking fee for every started half hour (from 7am till 7pm)</td>
    <td>1.50 EUR</td>
    <td>1.00 EUR</td>
  </tr>
  <tr>
    <td>Parking fee for every started half hour (from 7pm till 7am)</td>
    <td>1.00 EUR</td>
    <td>0.75 EUR</td>
  </tr>
  <tr>
    <td>Maximum invoice</td>
    <td></td>
    <td>300 EUR</td>
  </tr>
</table>
<br>
<p class="bg-primary">First,please select type of customer you want to have and fill information.</p>
<p class="bg-success">Secondly,please select day Time and information about duration of parking.</p>
<p class="bg-info">System will automaticly generate a reciept,you can do it multiply times if u parked more then 1 time.</p>
<p class="bg-warning">In <strong>View all invoices</strong> section can be checked all generated invoices</p>
</div>
