<h1>View Page</h1>
<div class="container" ng-controller='viewController'>
  <h3>Customer Details</h3>
  <table class="table table-striped">
    <tr>
      <th>Client</th>
      <th>Email</th>
      <th>Invoice Number</th>
      <th>Month</th>
      <th>Total</th>
    </tr>
    <tr ng-repeat='item in display'>
      <td>{{item.client}}</td>
      <td>{{item.email}}</td>
      <td>{{item.invoiceNum}}</td>
      <td>{{item.month}}</td>
      <td>{{item.total}}</td>
    </tr>
</table>
<br><br><br>
<h3>Bill Information</h3>
<table class="table table-bordered">
  <tr>
    <th>Duraion(Minutes)</th>
    <th>dayTime</th>
    <th>Price(EUR)</th>
  </tr>
  <tr ng-repeat='unit in displayReciepts'>
    <td>{{unit.duration}}</td>
    <td>{{unit.dayTime}}</td>
    <td>{{unit.price}}</td>
  </tr>
</table>
<br><br><br>
<button class="btn btn-success btn-lg" ui-sref='home'>Back to Home Page</button>
<button class="btn btn-success btn-lg" ui-sref='allInvoices'>View All Invoices</button>
</div>
